{% comment %}
  Loop through three recent blog articles with the following code.

  Since we're not on the blog template, we need to define the blog
  handle we want to focus on. For this example we'll use the default 'news',
  but you can create a blog page-specific content if you want.
{% endcomment %}

{% assign src = '' %}
{% assign vid = '' %}

<h2>{{ 'homepage.sections.news_title' | t }}</h2>

<div class="grid-uniform latest-news">
  
  {% for article in blogs['news'].articles limit:6 %}

    <div class="grid__item large--one-third">
      {% if article.image %}
        {% assign src = article | img_url: '1024x1024' %}
        <a href="{{ article.url }}" title="{{ article.title }}">
          <div class="tv" style="background-image:url({{ src }})"></div>
        </a>
      {% elsif article.content contains "<img" %}
      	<div>
          {% assign src = article.content | split: 'src="' %}
          {% assign src = src[1] | split: '"' | first | replace: '//cdn', 'http://cdn';; | replace: 'http:http://';;, 'http://';; | remove: 'https:' %}
          {% if src %}
               {% assign src = src | replace:'_pico','_1024x1024' | replace:'_icon','_1024x1024'| replace:'_thumb','_1024x1024' | replace:'_small','_1024x1024' | replace:'_compact','_1024x1024' | replace:'_medium','_1024x1024' | replace:'_large','_1024x1024' | replace:'_grande','_1024x1024' %}
          {% endif %}
          <a href="{{ article.url }}" title="{{ article.title }}">
            <div class="tv" style="background-image:url({{ src }})"></div>
          </a>            
      	</div>
      {% endif %}
      
      {% if src == '' %}
        {% if article.content contains "youtube.com/embed/" %}

          {% assign vid = article.content | split: 'embed/' %}
          {% assign vid = vid[1] | split: '"' | first %}
          {% if vid %}
            <iframe id="ytplayer" type="text/html" width="640" height="390" src="//www.youtube.com/embed/{{ vid }}" frameborder="0" ></iframe>
          {% endif %}
        {% endif %}
      {% endif %}
      
      <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>

      {% comment %}
        Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
        Since this is just a listing page, you can either use the excerpt or truncate the full article.
      {% endcomment %}
      <div class="rte">
        {% if article.excerpt.size > 0 %}
          {{ article.excerpt }}
        {% else %}
          <p><b><time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time></b> - 
            {% if src != '' or vid != '' %}
              {{ article.content | strip_html | truncatewords: 25 }}
            {% else %}
              {{ article.content | strip_html | truncatewords: 60 }}
            {% endif %}
          </p>
        {% endif %}
        <p><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a></p>
      </div>

      {% comment %}
        Show off meta information like number of comments and tags.
      {% endcomment %}
      <ul>
        {% if blog.comments_enabled? %}
        <li>
          <a href="{{ article.url }}#comments">
            {{ article.comments_count }}
            {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
          </a>
        </li>
        {% endif %}
      </ul>

    </div>

  {% endfor %}
</div>

<style>
  .tv {
    padding-bottom: 56%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
  }
  .video-wrapper {
    margin-bottom: 20px;
  }
  .rte {
    margin-bottom: 30px;
  }
</style>

